{% include '@darts/menu.html.twig' %}

<h1>STATISTICS</h1>
<select id="player">
	<option value="0">Select player</option>

{#{% for uid, player in players|asort %}
<option value="{{ uid }}">{{ player }}</div>
{% endfor %} #}

</select>

<div id="js-chart">
	<canvas id="canvas"></canvas>
</div>

<div id="limits-block">
	<div id="chart-radar">
		<canvas id="canvas2" width="200"></canvas>
	</div>
	<div id="limits">
	</div>
</div>

{% for uid,user in scoreboard %}

	<div id="player-{{uid}}" class="player-wrapper" data-name="{{ user.name }}" data-uid="{{ uid }}">

	{# <div class="player">{{ user.name  }}</div> #}

	{#
	<div class="blue">
	<svg viewBox="0 0 2000 100" class="chart">
  
		 <polyline
		     fill="none"
		     stroke="#0074d9"
		     stroke-width="1"
		     points="
		       
		       	{% set i = 0 %}
		       	{% for day,stat in stats[uid] %}
					{{ i }},{{ stat }}
					{% set i = i + 5 %}
				{% endfor %}


		     "
		/>
  
	</svg>
	</div>
	#}	



	{% for day,stat in stats[uid] %}
		<div class="stat-per-day" data-day="{{ day }}">{{day}}: {{stat}}</div>
	{% endfor %}

	
	{% for key,game in user %}

		{% if key matches '/^\\d+$/' %}

		<div class="stat-card day-{{ game.day }}">
			<div class="stat-header">
				<div>avg. {{ game.sum }} - {{ game.sumtime }}sec</div>
				<div><strong>{{ game.from }}</strong> - {{ game.to }} ({{ game.time }}min)</div>
				<div></div>

			</div>
			<div class="game-stat">

			{% for score in game.score %}

				<div class="stat-bar">
					{# red #}
					{% set color = '#ff0000' %}
					{% if score.point > 59 %}
						{# green #}
						{%  set color = '#389800' %}
					{% elseif score.point > 47 %}
						{# blue #}
						{%  set color = '#006bd6' %}
					{% elseif score.point > 29 %}
						{# orange #}
						{%  set color = '#fa9200' %}
					{% endif %}


					<div class="bar" style="height:{{ score.point }}px;background-color:{{color}}"></div>
					{# <div class="bar-green" style="height:{{ score.created }}px;">{{ score.created }}</div> #}
					<div class="int">{{ score.point }}</div>
					<div class="delay">{{ score.diff }}</div>
				</div>

			{% endfor %}
			</div>
			</div>
		{% endif %}
	{% endfor %}

	</div>
{% endfor %}
<div id="scrolltotop"></div>