{% include '@darts/menu.html.twig' %}

<div id="draw-container" class="{{ path }}">
{% for num, players in teams %}

<div class="draw">
	<h2> Team {{ num + 1 }}</h2>

		
		<div class="header-x">
			<div class="cell placeholder"></div>
			{% for k,c in players %}
				<div class="cell name col-{{k}}">{{c}}</div>
			{% endfor %}
		</div>

		
		{% set i = 0 %}
		{% for k,c in players %}
			{% set i = i + 1 %}
			<div class="row">
				<div class="cell name col-{{k}}">{{c}}</div>
				{% set ii = 0 %}
				{% for kk,cc in players %}
					{% set ii = ii + 1 %}

					{% if (i == ii) %}
						<div class="cell brick"></div>
					{% else %}
						<div class="cell placeholder">
							
								
							{% if matchstatuses[k ~ '_' ~ kk]['result'] is not empty %}
								{% if matchstatuses[k ~ '_' ~ kk]['winner'] is empty %}
									ONGOING
								{% else %}
									{{ matchstatuses[k ~ '_' ~ kk]['result'] }}
								{% endif %}
								
							{% else %}
								<a target="_blank" href="/darts/game?p1={{k}}&p2={{kk}}&drawid={{ drawid }}">
									GAME ON!   
								</a>
							{% endif %}
						</div>



					{% endif %}

					
				{% endfor %}
				<div class="cell function remove-player" data-team="{{ num }}" data-did="{{ drawid }}"" data-uid="{{ k }}">-</div>
			</div>
		{% endfor %}
		

</div>
<select name="add-player-team-{{ num }}" style="display: none;">
	<option value="0">select player</option>
	{% for uid,player in allplayers %}
		<option value="{{ uid }}">{{ player }}</option>
	{% endfor %}
</select>
<div class="cell function add-player" data-team="{{ num }}" data-did="{{ drawid }}">+</div>
{% endfor %}
</div>